[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
txt-utils = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
rope = "*"
pytest = "*"
autoflake = "*"
twine = "*"

[packages]
tqdm = "*"
ordered-set = ">=4.1.0"
pronunciation-dictionary = ">=0.0.4"
iterable-serialization = "*"

[requires]
python_version = "3.9"
